<!-- Start workflow snippet -->
<section class="workflow">
  <p>BitcoinZH proposes a simple workflow for translation, combining Github for collaboration and bitcoin for payment. The idea is adapted from <a href="https://hackercouch.com/add" title="Hackercouch Gitflow" target="_blank">Hackercouch</a>.</p>

  <p>Anyone can submit a translation request, and anyone can provide the translation and be paid at the address they provide.</p>

  {% include workflow-core.html %}

  <p>This creates an permanent public record upon which to establish trust.</p>


  {% for step in site.data.workflow-steps %}
  <!-- Start workflow step -->
  <div class="workflow-item">
    {{ step.number }}
    <h2>{{ step.title }}</h2>
    <img src="{{ step.img-path | prepend: '/images/workflow/' }}" title="{{ step.title | append: ' Illustration' }}">
    <p>{{ step.description }}</p>
  </div><!-- End workflow step -->
  {% unless forloop.last == true %}
    <div class="workflow-connector">&nbsp;</div>
  {% endunless %}
  {% endfor %}

  <a href="https://github.com/bitcoinzh/bitcoinzh.github.io" class="button" title="BitcoinZH on Github">See BitcoinZH on Github</a>
</section><!-- End workflow snippet -->
