<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <input type="checkbox" id="sidebar-toggle" checked>

    <div class="page-wrapper">
      <label class="toggle" for="sidebar-toggle">☰</label>

      <div class="page-content">
        {{ content }}

        <p class="update-time">{{ site.title }} was last updated at {{ site.time | date: '%T' }} on {{ site.time | date: '%b %-d, %Y' }}</br>{{ site.bitcoin_address }}</br>Ads: <strong>0</strong> Donations: <strong>0.2625BTC</strong> | Thanks! <span class="chinese-text">感谢您！</span></p>
      </div>

      {% include sidebar.html %}
    </div>
    <div class="social-shares">

    </div>
  </body>
</html>
