---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta">
      <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" | prepend: 'Published on ' }}</time>{% if page.translator %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.translator }}</span></span>{% endif %}</p>
      <a href="{{ page.source_url }}" target="_blank"><p>{{ page.source_site | prepend: 'From ' }}</p></a>
      {% include social-shares.html %}
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    <p class="intro-text">{{ page.description | prepend: 'BitcoinZH Introduction: ' }}</p>
    {{ content }}

    {% include social-shares.html %}
    <a href="mailto:info@bitcoinzh.com?subject=BitcoinZH Translation Error {{ page.url | prepend: site.url }}"><p class="mistranslation-cta">See something inaccurate? Let us know.</p></a>
  </div>

</article>

<div class="pagination"</p>
  {% if page.previous %}
  <a class="button previous" href="{{ page.previous_page_path }}">Last Post</a>
  {% else %}
  {% endif %}

  {% if page.next %}
  <a class="button next" href="{{ page.next_page_path }}">Next Post</a>
  {% else %}
  {% endif %}
</div>
